<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/bootstrap/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='dist/css/font-awesome/css/font-awesome.min.css') }}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/simple-sidebar.css') }}">

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        
                    </a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-print" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-floppy-o" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-bookmark" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <!--<div class="container-fluid">
                
            </div>-->
			<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
			<a href="#menu-toggle" class="btn btn-secondary dv-toggle" id="menu-toggle"><i class="fa fa-navicon"></i></a>
			
			<div class="collapse navbar-collapse dv-topnav" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<div class="input-group ">
						<div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
						<input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Search">
						</div>
					</li>
				</ul>
			</div>		
		</nav>
			
			
			
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='dist/js/jquery.min.js') }}"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
